
.bgflash {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: bgflash;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(1, start);

  animation-duration: 1s;
  animation-name: bgflash;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, start);
}

@-webkit-keyframes bgflash {
  0% {
  	background-color: #a555a5;
  }
  16% {
  	background-color: #7256b0;
  }
  32% {
  	background-color: #5d7aaa;
  }
  48% {
  	background-color: #aae271;
  }
  64% {
  	background-color: #ffeb8b;
  }
  80% {
  	background-color: #ffc87b;
  }
  96% {
  	background-color: #ff7979;
  }
  100% {
  	background-color: #aa51aa;
  }
}

@keyframes bgflash {
  0% {
    background-color: #a555a5;
  }
  16% {
    background-color: #7256b0;
  }
  32% {
    background-color: #5d7aaa;
  }
  48% {
    background-color: #aae271;
  }
  64% {
    background-color: #ffeb8b;
  }
  80% {
    background-color: #ffc87b;
  }
  96% {
    background-color: #ff7979;
  }
  100% {
    background-color: #aa51aa;
  }
}