{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block site_title %}Login{% endblock %}
{% block body_title %}Login to Kanri{% endblock %}

{% load bootstrap3 %}

{% block content %}
    <p>If you are a mentor, ninja, or parent, use this form to log in.</p>
    <p>Your username shouldn've been emailed to you, it is likely <code>firstname.lastname</code>.</p>
    <hr />
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
        <button type="submit" class="btn btn-primary">Log in</button>
        <input type="hidden" name="next" value="{% url 'dashboard:dashboard' %}" />
    </div>
    </form>
{% endblock %}