{% extends "base.html" %}

{% block site_title %}Attendance{% endblock %}
{% block body_title %}Ninja attendance{% endblock %}

{% block content %}

{% if user.is_superuser %}
    <div class="alert alert-warning">
        <p>As you are a superuser, you may be shown sessions for dojos that you do not belong to. Please be mindful
        when accessing or modifying attendance records of other dojos, as it could compromise the safety and security
        of the dojo.</p>
    </div>
    <hr />
{% endif %}

{% if current %}
    <h2>Current sessions <small>running, starting in the next hour, or finished less than a hour ago.</h2>
    <table class="table bg-success">
        <thead>
            <th>Session</th>
            <th>Time/Date</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
            {% for session in current %}
                <tr>
                    <td>
                        {{ session }}<br />
                           <small>{{ session.term.name }} - {{ session.term.dojo }}</small>
                    </td>
                    <td>
                        {{ session.start|date }}
            
                        {% if session.start.date != session.finish.date %}
                             - {{ session.finish|date }}
                        {% endif %}
    
                        <br />
                        <small>{{ session.start|time }} to {{ session.finish|time }} (in {{ session.start|timeuntil }})</small>
                    </td>
                    <td>
                        <a href="{% url 'attendance:record' session.id %}" class="btn btn-primary">Do Attendance</a>   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if upcomming %}
    <h2>Upcomming sessions <small>less than a day until start.</h2>
    <table class="table">
        <thead>
            <th>Session</th>
            <th>Time/Date</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
            {% for session in upcomming %}
                <tr>
                    <td>
                        {{ session }}<br />
                           <small>{{ session.term.name }} - {{ session.term.dojo }}</small>
                    </td>
                    <td>
                        {{ session.start|date }}
            
                        {% if session.start.date != session.finish.date %}
                             - {{ session.finish|date }}
                        {% endif %}
    
                        <br />
                        <small>{{ session.start|time }} to {{ session.finish|time }} (in {{ session.start|timeuntil }})</small>
                    </td>
                    <td>
                        <a href="{% url 'attendance:record' session.id %}" class="btn btn-primary">Do Attendance</a>   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if future %}
    <h2>Future sessions <small>pretty obvious.</h2>
    <table class="table">
        <thead>
            <th>Session</th>
            <th>Time/Date</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
            {% for session in future %}
                <tr>
                    <td>
                        {{ session }}<br />
                           <small>{{ session.term.name }} - {{ session.term.dojo }}</small>
                    </td>
                    <td>
                        {{ session.start|date }}
            
                        {% if session.start.date != session.finish.date %}
                             - {{ session.finish|date }}
                        {% endif %}
    
                        <br />
                        <small>{{ session.start|time }} to {{ session.finish|time }} (in {{ session.start|timeuntil }})</small>
                    </td>
                    <td>
                        <a href="{% url 'attendance:record' session.id %}" class="btn btn-primary">Do Attendance</a>   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if old %}
    <h2>Old sessions <small>if you need to retroactively change attendance details.</h2>
    <table class="table">
        <thead>
            <th>Session</th>
            <th>Time/Date</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
            {% for session in old %}
                <tr>
                    <td>
                        {{ session }}<br />
                           <small>{{ session.term.name }} - {{ session.term.dojo }}</small>
                    </td>
                    <td>
                        {{ session.start|date }}
            
                        {% if session.start.date != session.finish.date %}
                             - {{ session.finish|date }}
                        {% endif %}
    
                        <br />
                        <small>{{ session.start|time }} to {{ session.finish|time }} ({{ session.start|timesince }} ago)</small>
                    </td>
                    <td>
                        <a href="{% url 'attendance:record' session.id %}" class="btn btn-primary">Do Attendance</a>   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}