{% extends "base.html" %}

{% block site_title %}Roles{% endblock %}
{% block body_title %}Roles{% endblock %}


{% block content %}

{% if approved %}
    <h2>Approved roles <small>you have been approved to volunteer in these roles</small></h2>
    <table class="table">
        <tbody>
            {% for role in approved %}
                <tr>
                    <td class="col-md-2">
                        {{ role.name }}<br />
                        <small>{{ role.dojo }}</small>
                    </td>
                    <td>{{ role.description }}</td>
                    <td class="col-md-2">
                        <a data-role-id="{{ role.id }}" class="btn btn-danger btn-stop-approved disabled">Stop Volunteering</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if applied %}
    <h2>Applied roles <small>you have applied to volunteer in these roles</small></h2>
    <table class="table">
        <tbody>
            {% for role in applied %}
                <tr>
                    <td class="col-md-2">
                        {{ role.name }}<br />
                        <small>{{ role.dojo }}</small>
                    </td>
                    <td>{{ role.description }}</td>
                    <td class="col-md-2">
                        <a data-role-id="{{ role.id }}" class="btn btn-warning btn-stop-approved disabled">Revoke Application</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if other %}
<h2>Other roles <small>you can apply to volunteer in these roles</small></h2>

    <table class="table">
        <tbody>
            {% for role in other %}
                <tr>
                    <td class="col-md-2">
                        {{ role.name }}<br />
                        <small>{{ role.dojo }}</small>
                    </td>
                    <td>{{ role.description }}</td>
                    <td class="col-md-2">
                        <a data-role-id="{{ role.id }}" class="btn btn-success btn-apply disabled">Volunteer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if user.is_superuser and unadvertised %}
<h2>Unadvertised roles <small>you can see these becuase you're a superuser.</small></h2>

    <table class="table">
        <tbody>
            {% for role in unadvertised %}
                <tr>
                    <td class="col-md-2">
                        {{ role.name }}<br />
                        <small>{{ role.dojo }}</small>
                    </td>
                    <td>{{ role.description }}</td>
                    <td class="col-md-2">
                        <a data-role-id="{{ role.id }}" class="btn btn-success btn-apply disabled">Volunteer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
