{% extends "base.html" %}

{% block site_title %}Report Availabilities{% endblock %}
{% block body_title %}Report your availabilities{% endblock %}

{% block content %}

{% if user.is_superuser %}
    <div class="alert alert-warning">
        <p>As you are a superuser, you can report availabilities for sessions at dojos that you do not attend.</p>
        <p>These sessions will be listed below.</p>
    </div>
    <hr />
{% endif %}

{% if unreported_sessions %}
    <h2>New sessions <small>that you need to report for.</small></h2>
    <table class="table">
        <thead>
            <th>Session</th>
            <th>Time/Date</th>
            <th></th>
        </thead>
        <tbody>
            {% for session in unreported_sessions %}
                <tr>
                    <td>
                        {{ session }}<br />
                           <small>{{ session.term.name }} - {{ session.term.dojo }}</small>
                    </td>
                    <td>
                        {{ session.start|date }}
            
                        {% if session.start.date != session.finish.date %}
                             - {{ session.finish|date }}
                        {% endif %}
                        <br />
                        <small>{{ session.start|time }} to {{ session.finish|time }}</small>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success report-available" id="report-available-{{ session.id }}">Available</a>   
                            <a class="btn btn-danger report-busy" id="report-busy-{{ session.id }}">Busy</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if reported_sessions %}
    <h2>Old sessions <small>that you've already reported for.</small></h2>
    <table class="table">
        <thead>
            <th>Session</th>
            <th>Time/Date</th>
            <th></th>
        </thead>
        <tbody>
            {% for avail in reported_sessions %}
                <tr>
                    <td>
                        {{ avail.session }}<br />
                           <small>{{ avail.session.term.name }} - {{ avail.session.term.dojo }}</small>
                    </td>
                    <td>
                        {{ avail.session.start|date }}
            
                        {% if avail.session.start.date != avail.session.finish.date %}
                             - {{ avail.session.finish|date }}
                        {% endif %}
                        <br />
                        <small>{{ avail.session.start|time }} to {{ avail.session.finish|time }}</small>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn report-available {% if avail.available %}btn-success{% else %}btn-default{% endif %}" id="report- available-{{ avail.session.id }}">Available</a>   
                            <a class="btn report-busy {% if avail.available %}btn-default{% else %}btn-danger{% endif %}" id="report-busy-{{ avail.session.id }}">Busy</a>   
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<form class="hidden" id="available-form" method="post" action="{% url 'roster:report' %}">
    {% csrf_token %}
    <input type="text" name="session" id="id_session" />
    <input type="checkbox" name="available" id="id_available" checked />
</form>
{% endblock %}

{% block custom_js %}
<script type='text/javascript'>
    function report(ev, available)
    {
        $('#id_session').val(ev.target.id.replace(/report-.+-/, ''))
        $('#id_available').prop('checked', available)

        $('#available-form').submit()
    }

    function report_available(ev)
    {
        report(ev, true)
    }

    function report_busy(ev)
    {
        report(ev, false)
    }

    $('.report-available').click(report_available)
    $('.report-busy').click(report_busy)
</script>
{% endblock %}