{% extends "base.html" %}

{% load fontawesome %}

{% block site_title %}Dashboard{% endblock %}
{% block body_title %}Hi, {{ user.get_full_name }}{% endblock %}

{% block content %}
    {% if mentor.approved_roles.all %}
        <h2>{% fontawesome_icon 'graduation-cap' color='green' %}
        You are a mentor <small>{{ mentor.approved_roles.all|join:', ' }}</small></h2>
        <p class="text-muted">
            You have been approved to volunteer at a dojo.
        </p>

        <p class="text-muted">
            If you need to tell us when you're available, you can <a href="{% url 'roster:report' %}">update your availabilities</a>.
        </p>

        <p class="text-muted">
            If you have been asked to sign ninjas off as they enter the dojo, <a href="{% url 'attendance:list' %}">click here</a>.
        </p>
    {% elif mentor.applied_roles.all %}
        <h2>{% fontawesome_icon 'graduation-cap' color='orange' %}
        You have applied to be a mentor</h2>
        <p class="text-muted">
            Your application to volunteer at a dojo has not been actioned yet.
        </p>

        <p class="text-muted">
            If you want to review or change the roles you have applied for, <a href="{% url 'dojo:roles' %}">click here</a>.
        </p>
    {% else %}
        <h2>{% fontawesome_icon 'graduation-cap' color='red' %}
        You are not listed as a mentor</h2>
        <p class="text-muted">
            You have not applied to mentor at a Dojo.
        </p>
    {% endif %}

    <hr />

    {% if parent %}
        <h2>
            {% fontawesome_icon 'user' color='green' %}
            You are a parent
        </h2>
    {% else %}
        <h2>
            {% fontawesome_icon 'user' color='red' %}
            You are not listed as a parent
        </h2>
        <p class="text-muted">
            We can't find any children belonging to you on our system.
        </p>
    {% endif %}

    <hr />

    {% if ninja %}
        <h2>
            {% fontawesome_icon 'user' color='green' %}
            You are a ninja
        </h2>
    {% else %}
        <h2>
            {% fontawesome_icon 'user' color='red' %}
            You are not listed as a ninja
        </h2>
        <p class="text-muted">
            You have not registered to attend a dojo as a ninja.
        </p>

        <hr />
    {% endif %}


    {% if user.is_superuser %}
        <h2>
            {% fontawesome_icon 'user-secret' color='green' %}
            You are a superuser
        </h2>

        <p class="text-muted">
            You have unlimited read-write access to everything on the system,
            regardless of what roles you have been approved for.
        </p>

        <p class="text-muted">
            You can access the database backend <a href="{% url 'admin:index' %}">here</a>, but be warned,
            you can easily break things!
        </p>
    {% endif %}

{% endblock %}