{% extends "base.html" %}

{% load fontawesome %}
dja
{% block site_title %}Badges{% endblock %}
{% block body_title %}Available badges{% endblock %}

{% block content %}
    {% if object_list %}
        <p>
            {% for object in object_list %}
                <a class="label label-primary" href="#{{ object.slug }}">{{ object.name }}</a> 
            {% endfor %}
        </p>
        <hr />
        {% for object in object_list %}
            <a name="{{ object.slug }}"></a>
            <h2>{{ object.name }}</h2>
            {% if object.badge_set.all %}
                {% for badge in object.badge_set.all %}
                    <div class="panel panel-default badge-panel">
                        <div class="panel-body">
                            <div class='col-md-2'>
                                <img src='{{ badge.image.url }}' />
                            </div>
                            <div class='col-md-9'>
                                <h3>{{ badge.name }}</h3>
                                <hr />
                                <p><strong>Recipients of this badge have</strong> {{ badge.short_description }}</p>
                                <hr />
                                <p>{{ badge.requirements }}</p>
                                {% if badge.attachments.all or badge.relevant_links %}
                                    <hr />
                                    <p>
                                    {% for attachment in badge.attachments.all %}
                                        {% fontawesome_icon 'file' %}
                                        <a href="{{ attachment.attachment.url }}" target="_blank">
                                            {{ attachment }}
                                            ({{ attachment.attachment.size|filesizeformat }})
                                        </a><br />
                                    {% endfor %}
                                    {% for link in badge.relevant_links %}
                                        {% fontawesome_icon 'link' %} 
                                        <a href="{{ link.url }}" target="_blank">{{ link }}</a>
                                        {% if link.note %}
                                            <span class="text-muted">{{ link.note }}</span>
                                        {% endif %}
                                        <br />
                                    {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-danger">There are badges in this category.</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-danger">There are no categories.</p>
    {% endif %}
{% endblock %}