{% extends "base.html" %}

{% block page_title %}Badge timeline{% endblock %}
{% block body_title %}Badge timeline{% endblock %}

{% block content %}
{% for award in object_list %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-1">
                <img src="{{ award.badge.image.url }}" height="60px"/>
            </div>
            <h3>
                {{ award.ninja.user.get_full_name }}
                <span class="text-muted">has been awarded the</span>
                {{ award.badge.name }}
                <span class="text-muted">badge!</span> <small>{{ award.timestamp|timesince }} ago</small>
            </h3>
        </div>
    </div>
{% endfor %}
{% endblock %}